body{
	background: url("../img/hojas.jpg");
	background-attachment: fixed;
}
#logo{
	background: #235E3D;
}
#menu ul li:hover{
	background: #235E3D;
}
.button-more{
	background: #235E3D;
}
.ui-accordion .ui-accordion-header{
	background: #235E3D;
	color: white;
}
#reloj{
	border: 4px solid #235E3D;
}